<!doctype html>
<html ng-app="ui.bootstrap.demo">
  <head>
	<script src="js/min/angular.min.js"></script>
    <!-- // <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script> -->
	<script src="js/min/ui-bootstrap-tpls-2.5.0.js"></script>
    <!-- // <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script> -->
    <script>
    	var app = angular.module("ui.bootstrap.demo", ['ui.bootstrap']);
    	app.controller("ModalDemoCtrl", function($scope,$uibModal) {
    		var vm = this;
    		vm.showModal = function(){
	          	$uibModal.open({
	                templateUrl: 'myModalContent.html',
	                controller:'myClose as vm',
	                size:'lg',
	           })
      		}
      		vm.records=[
      			{"text" : "click"},
      			{"text" : "click2"},
      			{"text" : "click3"},
      			{"text" : "click4"},
      		]
    	});
    	app.controller("myClose", function($scope,$uibModalInstance) {
		    var vm = this;  
		    vm.closeModal = function(){
		        $uibModalInstance.dismiss('cancel');
		    }
		});
		// Please note that the close and dismiss bindings are from $uibModalInstance.

		
    </script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>

<div ng-controller="ModalDemoCtrl as vm">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body">hi</div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="vm.closeModal()">Cancel</button>
        </div>
    </script>
	<div ng-repeat="record in vm.records">
		<button type="button" class="btn btn-default" ng-click="vm.showModal()">Open me!</button>
	</div>
</div>
  </body>
</html>
