<div class="modal-header">
    <h3 class="modal-title">Modal title</h3>
</div>
<div class="modal-body">
    <ul class="thumbnail">
      <li ng-repeat="artwork in vm.artworks">
        <img ng-src="{{artwork.Image}}" alt="">
          <div class="caption">
          	<!-- <small>{{artwork.lDate}}</small> -->
            <h3 class="title-name">{{artwork.TitleName}}</h3>
            <!-- <p>{{artwork.Description}}</p> -->
            <p><a class="lmore" ng-click="vm.showModal('lg')">KNOW MORE</a></p>
        </div>
      </li>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="vm.closeModal()">Cancel</button>
</div>