<html ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>-->
	<!-- File upload start -->
	<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
	<script type="text/javascript" src="node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>
	<script type="text/javascript" src="node_modules/ng-file-upload/dist/ng-file-upload-shim.min.js"></script>
	<!-- File upload end -->
	<script src="js/app.js"></script>
	<style type="text/css">
		body{font-family: arial;}
		input{padding:7px; border: 1px #dadada solid; float: left;}
		button{padding:8px 12px; float: left; background: green; border:none; color: #fff;}
		table tr{border-bottom: 1px #eee solid;}
	</style>
</head>
<body ng-controller="UploadCtrl as vm">
	<form name="vm.upload_form">
		<table rules="rows" width="100%" cellpadding="8" align="center">
			<tr align="left">
				<th>Image</th>
				<th>Action</th>
			</tr>
			<tr>
				<td><input type="file" ngf-select ng-model="vm.file" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB"/>
				    <img style="vertical-align: middle; height: 40px; float:left;" ng-show="!!vm.file" ngf-thumbnail="vm.file"/>
				    <i ng-show="vm.upload_form.file.$error.required">*required</i>
				    <i ng-show="vm.upload_form.file.$error.maxSize">File too large 
				    {{vm.file.size / 1000000|number:1}}MB: max 20M</i>
				   <!--  Multiple files
				    <div class="button" ngf-select ng-model="vm.files" ngf-multiple="true">Select</div>
				    Drop files: <div ngf-drop ng-model="vm.files" class="drop-box">Drop</div> -->
				    
				    <p>{{vm.progress}}</p>
				</td>
				<td><button type="submit" ng-click="vm.submit()">submit</button></td>
			</tr>
			<tr ng-repeat="record in vm.records">
			  <td>{{record.filename}}<br><img ng-src="../uploads/{{record.filename}}" width="150"></td>
			  <td><button ng-click="vm.remove(record._id)" style="background: red;">Remove</button></td>
			</tr>
		</table>
	</form>	
</body>
</html>