<html ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>-->
	<!-- File upload start -->
	<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
	<script type="text/javascript" src="node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>
	<script type="text/javascript" src="node_modules/ng-file-upload/dist/ng-file-upload-shim.min.js"></script>
	<!-- File upload end -->
	<script src="js/app.js"></script>
	<style type="text/css">
		body{font-family: arial;}
		input{padding:7px; border: 1px #dadada solid;}
		button{padding:8px 12px; background: green; border:none; color: #fff;}
		table tr{border-bottom: 1px #eee solid;}
	</style>
</head>
<body ng-controller="myCtrl as vm">
	<table rules="rows" width="100%" cellpadding="8" align="center">
		<tr align="left">
			<th>Image</th>
			<th>Name</th>
			<th>Email</th>
			<th>Phone No</th>
			<th>Action</th>
			<th></th>
		</tr>
		<tr>
			<td ng-include="'upload-view.html'"></td>
			<td><input type="text" ng-model="vm.record.name"></td>
			<td><input type="email" ng-model="vm.record.email"></td>
			<td><input type="phone" ng-model="vm.record.phone"></td>
			<td><button ng-click="vm.submit()" ng-disabled="!vm.record">add text</button></td>
			<td><button  style="background: blue;" ng-click="vm.update()" ng-disabled="!vm.record">Update text</button></td>
		</tr>
		<tr ng-repeat="record in vm.records">
		  <td><img ng-src="uploads/{{record.filename}}" width="150"></td>
		  <td>{{record.name}}</td>
		  <td>{{record.email}}</td>
		  <td>{{record.phone}}</td>
		  <td><button ng-click="vm.remove(record._id)" style="background: red;">Remove</button></td>
		  <td><button ng-click="vm.edit(record._id)" style="background: orange;">Edit</button></td>
		</tr>
	</table>
</body>
</html>