#gallery .images:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
}

#slideshow {
  background-color: rgba(0, 0, 0, 0.80);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  height: 100%;
  position: fixed;
  z-index: 9999;
  top: 0px;
  width: 100%;
}
#slideshow.show-zoom{opacity:1; visibility: visible;}
#slideshow .current .image, #slideshow .controls .previous, #slideshow .controls .next {
  height: 500px;
  margin:30px 0 0 0;
}
#slideshow .current .image img{max-height: 100%; top: 50%; position: relative; left: 0; transform: translateY(-50%);}
#slideshow .current .image, #slideshow .current .caption { text-align: center; }

#slideshow .current .caption {
  color: #f1eeee;
  padding: 20px 0 0;
}

#slideshow .controls { position: relative; margin: 0; list-style: none;}

#slideshow .controls .control { position: absolute; }

#slideshow .controls .previous, #slideshow .controls .next {
  top: 0;
  width: 10%;
}

#slideshow .controls .previous { left: 0; }

#slideshow .controls .next { right: 0; }

#slideshow .controls .close {
  right: -88px;
  top: -84px;
}

#slideshow .controls .control a {
  color: transparent;
  display: block;
}

#slideshow .controls .previous a, #slideshow .controls .next a {
  height: 80px;
  width: 70px;
  background: transparent;
  margin-left: 50px;
  transition: 0.3s;
}
#slideshow .controls .next a{margin-right: 50px;}
#slideshow .controls .previous:hover a{transform: translate(-15px,-40px);}
#slideshow .controls .next:hover a{transform: translate(15px,-40px);}
#slideshow .controls .close a {
    height:150px;
    width:150px;
    transition: 0.3s;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.11);
}
#slideshow .controls .close a:before, #slideshow .controls .close a:after{
    content: '';
    height: 18%;
    width: 1px;
    background: #fff;
    left: 39px;
    top: 94px;
    position: absolute;
    transition: 0.3s;
    transform: rotate(45deg);
}
#slideshow .controls .close a:after{transform: rotate(-45deg);}
#slideshow .controls .close a:hover{}
#footer {
  background-color: #f1eeee;
  bottom: 0;
  height: 34px;
  position: absolute;
  width: 100%;
}

#footer p { padding: 10px 30px; }

#footer p, #footer p a { color: #374035; }
